
:root {
	--comp-blue: #2D3E50;
	--eggshell: #fffff4;
	}

* {
	margin: 0px; 
	padding: 0px;
	}

a:link {
	text-decoration:none;
	color: white;
	}
a:visited {
	color:white
	}
header a:hover {
	background-color: rgba(255,255,255,0.1)
	} 

header, footer {
	background-color: var(--comp-blue); 
	color: white;
	
	}

header {
	padding-top: 10px; 
	padding-bottom: 20px; 
	white-space: nowrap;
	min-width: 800px;
	width: 100%;
	position: sticky;	/*sticy header method from https://www.w3schools.com/howto/howto_js_sticky_header.asp*/
	top: 0;
	z-index: 10;
	}

header h1 {
	display: inline-block; 
	margin-left: 50px; 
	margin-right: 30px; 
	padding: 0px; 
	font-size: 24px
	}

header nav {
	display: inline-block; 
	margin-right: 50px; 
	padding: 5px 10px; 
	float: right;
	}

header nav a{
	display: inline-block; 
	background-color: var(--comp-blue); 
	color: white; 
	padding: 5px 15px; 
	border-radius: 4px
	}

header nav a#current-tab {
	background-color: rgba(255, 255, 255, 0.05)
	}

footer {
	width: 100%; 
	text-align: center;
	margin-top: 10%;
	}

footer nav {
	display: flex; 
	margin: 10px 100px; 
	padding-bottom: 30px;  
	box-shadow: 0 1px rgba(255,255,255, 0.1)
	}
	
footer nav .column {
	flex: 1
	}
footer nav h4 {
	margin: 20px; 
	font-size: 20px
	}
footer #copyright {
	margin-top: 20px;
	padding-bottom: 1em;
	display: block;
	}
footer ul {
	list-style:none
	}
footer li {
	padding: 5px
	}
	
.shop-button{
	text-align: center;
	display: inline-block;
	background-color: #4DA6FF;
	padding: 14px 20px;		
	border-radius: 4px;
	font-size: 16px;
	}
	
body {
	font-family: sans-serif
	}


/*Styling for index page only*/
#index {
	
	 .banner {
		min-height: 240px; 
		background-image: url(../data/images/closet.jpg); 
		background-repeat: no-repeat; 
		background-size: 100%; 
		text-align: center
		}

	 .banner h2{
		color: var(--comp-blue);
		padding-top: 40px;
		padding-bottom: 25px;
		font-size: 30px
		}
	 .banner p{
		color: gray;
		padding-bottom: 25px;
		}

	#products {
		text-align: center;
		margin-top: 40px;
		overflow: hidden;
		}
		
	 #products h3{
		color: var(--comp-blue);
		font-size: 26px;
		margin-bottom: 0px;
		
		}
		
	 #products .grid {
		display: grid;
		grid-template-rows: 370px;
		grid-template-columns: repeat(4, auto);
		margin: 10px 50px;
	}

	 #products .card{
		margin: 20px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
		padding: 20px 10px;
		height: 305px;
	}

	 #products .card img{
		
	}

	 #products .card figcaption{
		padding: 5px;
		color: var(--comp-blue);
		font-weight: 700;
		font-size: 16px;
	}

	 #products .card .price {
		color: #ff4500;
		font-weight: 700;
		padding: 10px;
		
	}

	 #why-choose {
		text-align: center;
		color: var(--comp-blue);
		min-width: 800px;
	}

	 #why-choose p {
		color: grey;
		font-weight: 400;
		padding: 10px 300px;
		
	}

	 #why-choose h2 {
		margin-top: 50px;
		margin-bottom: 20px;
	}
}


#about {
	text-align: center;
	
	.banner {
		background-color: var(--eggshell);
	}
	
	.banner h2 {
		padding: 2em;
		padding-bottom: 1em;
		font-size: 30px
	}
	
	.banner p {
		color: gray;
		padding: 0 18em;
		padding-bottom: 2em;
		line-height: 1.5em;
		
	}
	
	#story {
		margin: 5em 20em;
		text-align: left;
		color: rgb(70, 70, 70);
		margin-bottom: 2em;
	}
	
	#story h3 {
		margin: 1em;
		margin-left: 0;
		font-size: 2em;
		color: rgb(70, 70, 70)
	}
	
	#story p {
		line-height: 2em;
	}

	img#it-starts {
		width: 50%;
		height: auto;
	}
	
	#values {
		text-align: center;
		margin: 5em;
		background-color: var(--eggshell);
		padding: 1em;
		padding-bottom: 3em;
	}
	
	#values h5 {
		font-size: 20px;
		margin: 1em;
		font-size: 1.7em;
	}
	
	#values .grid {
		display: grid;
		grid-template-columns: repeat(3, 20%);
		justify-content: center;
		gap: 60px;
		
	}
	
	#values .card {
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		box-shadow: 2px 2px 6px grey;
		padding: 1em;
	}
	
	#values .card figure{
		display: block;
		background-color: rgb(0, 150, 255);
		border-radius: 50%;
		aspect-ratio: 1/1;			/*To get an even circle https://stackoverflow.com/questions/21799852/css-width-same-as-height*/
		width: 1.5em;
		padding: 10px;
		text-align: center;
		color: white;
		font-weight: 800;
		font-size: 30px;
		margin: 10px;
	}
	
	#values .card h6 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	
	#values .card p {
		margin: 0.5em;
		font-size: 16px;
		color: grey;
		line-height: 1.5em;
	}
	
	#team > h3 {
		font-size: 2em;
	}
	
	#team > p {
		margin: 1em 20% 2em 20%;
		font-size: 1.2em;
		line-height: 2em;
	}
	
	#team .flex {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	#team .flex .photo-card {
		max-width: 17em;
		margin: 2em;
	}
	
	#team .flex .photo-card img {
		max-width: 60%;
		border-radius: 50%;
		
	}
	
	#team .flex .photo-card h4 {
		font-size: 1.5em;
		margin: 0.4em 0.4em 0 0.4em;
	}
	
	#team .flex .photo-card h5 {
		font-weight: 200;
		color: gray;
		margin: 0.2em;
		margin-bottom: 0.4em;
		font-size: 1em;
	}
	
	#team .flex .photo-card p {
		line-height: 1.5em;
		padding: 0.5em;
		font-size: 1.1em;
	}
	
	
	#journey {
		background-color: var(--eggshell);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		padding: 0 20%;
		
	}
	
	#journey .journey-period {
		display: grid;
		grid-template-columns: 1% auto;
		grid-template-rows: auto auto;
		grid-gap: 30px;
		text-align: left;
		margin: 2em;
		margin-left:  25%
	}
	/*
		Circle line alignment provided via chatGPT prompt: "i'm trying to contruct a little shape in css. It's a line with a circle at the top. I've made both of them with divs with a background color. The circle is a child of the line. Is there a way to easily align the circle so that the middle of it is on the top of the line instead of it trying to fit inside the line's boundry?" https://chatgpt.com
	*/
	#journey .journey-period #circle-line {
		position: relative;
		grid-row: span 2;
		background-color: blue;
		width: 0.4em;
		text-align: center;
		z-index: 1;
	}
	
	#journey .journey-period #circle-line #circle {
		background-color: blue;
		aspect-ratio: 1/1;
		width: 2em;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	#journey .journey-period h2 {
		margin: 0.7em 0em;
	}
	#journey .journey-period p {
		line-height: 2em;
		max-width: 70%;
		padding-bottom: 1em;
		
	}
	
}

#product {
	
	margin: 15%;
	margin-top: 2em;
	
	nav {
		margin: 1em 0;
	}
	
	nav a:link{
		color: #00ccff;
	}
	
	nav a:visited{
		color: #00ccff;
	}
	
	.product-information {
		margin-top: 3em;
		margin-right:2em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 60px;
	}
	
	.product-information .grid {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 340px auto;
		align-items: start;
		text-align: right;
	}
	
	.product-information .grid #large-img {
		grid-column: span 5;
		width: 340px;
	}
	
	.product-information .grid #thumbs {
		margin: 0.4em 0;
		width: 60%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		margin-left: 5em;
	}
	
	.product-information #item-description h2{
		color: var(--comp-blue);
		margin-bottom: 0.5em;
	}
	
	.product-information #item-description .rating{
		margin-bottom: 1em;
	}
	
	.rating {
		color: #cca300;
	}
	
	.product-information #item-description .price{
		color: #ff4500;
		font-size: 1.4em;
		font-weight: 600;
		margin-bottom: 1em;
	}
	
	.product-information #item-description #brief-description{
		line-height: 1.7em;
		margin-bottom: 2em;
	}
	
	.product-information #item-description .product-option {
		margin: 1em 0;
		border: none;
	}
	
	.product-information #item-description .product-option legend, #quantity-title {
		font-weight: 700;
		margin-bottom: 1em;
	}
	
	
	
	/*Radio button styling and layout general concept from chatgpt prompts: "How do I style radio inputs in css and html for product options?"*/
	
	.product-information #item-description .product-option input[type="radio"]{
		opacity: 0;
		position: absolute;	
		pointer-events: none;
	}
	
	.product-information #item-description .product-option label{
		display: inline-block;
		border: 1px solid #bfbfbf;
		cursor: pointer;
		padding: 0.4em 0.8em;
	}
	
	.product-information #item-description .product-option label:hover{
		border-color: black;
	}
	
	#size-option input[type="radio"]:checked + label {	/*Find the next label after a checked input*/
		background: #0088ee;
		color: white;
		border-color: black;
	}
	
	.product-information #item-description .product-option .swatch {
		padding: 1em;
	}
	
	.product-information #item-description .product-option .swatch[for=color-yellow]{
		background-color: #ffffcc;
	}
	
	.product-information #item-description .product-option .swatch[for=color-red]{
		background-color: #ff3300;
	}
	
	.product-information #item-description .product-option .swatch[for=color-gray]{
		background-color: #808080;
	}
	
	.product-information #item-description .product-option .swatch[for=color-navy]{
		background-color: #202060;
	}
	
	#color-option input[type="radio"]:checked + label {
		border-color: #00ccff;
	}
	
	.product-information #item-description #quantity-option {
		margin-left: 0;
		
	}
	
	.product-information #item-description #quantity-option input {
		width: 4em;
	}
	
	.product-information #item-description .product-option #quantity-title {
		border: none;
		color: black;
		padding: 0;
	}
	
	.product-information #item-description #purchase-wishlist button{
		padding: 1em 2em;
		margin-right: 20px;
		margin-bottom: 10px;
		border-width: 0;
		border-radius: 4px;
		color: white;
		background-color: #0088ee;
	}
	
	.product-information #item-description #purchase-wishlist button[type=button]{
		background-color: #737588;
	}
	
	#product-details .tabs {
		display: grid;
		grid-template-columns: repeat(3, 11em);
		grid-template-rows: auto;
		border: 1px solid #c8c8d0;
		border-left: none;
		border-right: none;
		padding-top: 3em;
	}
	
	#product-details .tabs div{
		margin-top: 1em;
		font-weight: 550;
		padding-right: 1em;
		text-align: center;
	}
	
	#product-details .tabs div #line{
		background-color: #0088ee;
		width: 100%;
		height: 2px;
	}
	
	#product-details .tabs #description {
		color: #0088ee;
	}
	
	
	#product-details > h2 {
		font-size: 18px;
		margin-top: 1em;
		padding: 0.5em 0;
	}
	
	#product-details > p {
		line-height: 1.5em;
		margin-bottom: 1em;
	}
	
	#product-details #features h4 {
		margin-bottom: 1em;
	}
	
	#product-details #features #feature-table {
		background-color: var(--eggshell);
	}
	
	#product-details #features #feature-table .feature {
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding: 1em 0;
	}
	
	#product-details #features #feature-table .feature .table-label {
		display: inline-block;
		font-weight: 600;
		width: 100px;
		padding-right: 10em;
		padding-left: 1em;
	}
	
	#product-details #reviews h2 {
		margin: 1em 0;
	}
	
	#product-details #reviews ul {
		list-style: none;
	}
	
	#product-details #reviews li {
		margin: 3em 0;
	}
	
	#product-details #reviews li h4 {
		display: inline;
		margin-right: 1em;
	}
	
	#product-details #reviews li .rating {
		padding-right: 1em;
	}
	
	#product-details #reviews li .date {
		color:gray;
	}
	
	#product-details #reviews li p {
		margin: 1em 0;
		line-height: 1.5em;
	}
}
